<ion-tabs>
      <!-- H angular will automatically insert the right page based on the butoon you pressed. Prepei to onoma sto tab poy valame edw
    na to valoume kai sto routing setup-->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-label>Discover</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>OffersS</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-label>Offers2</ion-label>
      <ion-icon name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
